<p-messages [(value)]="msgs" [showTransitionOptions]="'5ms'" [hideTransitionOptions]="'0ms'"></p-messages>
<div *ngIf="!form" >
  <div class="page-header">
    <h3 class="page-title">
      Déclaration de la récolte
    </h3>
    <div class="text-right">
      <button pButton (click)="showForm()" pRipple type="button" icon="pi pi-plus" pTooltip="Ajouter" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2 mr-3"></button>
      <button pButton pRipple type="button" icon="pi pi-align-justify" pTooltip="Vue synthétique" tooltipPosition="bottom" class="p-button-rounded p-button-help p-mr-2"></button>
      <button pButton pRipple type="button" icon="pi pi-chart-bar" pTooltip="Vue graphique" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2 mr-3"></button>
      <button pButton pRipple type="button" (click)="exportExcel()" icon="pi pi-file-excel" pTooltip="Excel" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2"></button>
      <button pButton pRipple type="button" (click)="exportPdf()" icon="pi pi-file-pdf" pTooltip="PDF" tooltipPosition="bottom" class="p-button-rounded p-button-success p-mr-2"></button>
      <button pButton pRipple type="button" (click)="printPdf()" icon="pi pi-print" pTooltip="Imprimer" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>
  
    </div>
  </div>
  <div class="row">
    <p-table #dt1 [value]="declarations" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées"
      [globalFilterFields]="['declaration.DateRecolte']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche par mot clé" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Date de récolte
              <p-columnFilter type="date" field="DateRecolte" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Parcelle
              <p-columnFilter type="text" field="Ref" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Type du produit
              <p-columnFilter type="text" field="designation" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Récolte MO
              <p-columnFilter type="numeric" field="RecolteMO" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Récolte hors MO
              <p-columnFilter type="numeric" field="RecolteHorsMO" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Vente sur pieds
              <p-columnFilter type="numeric" field="VentePieds" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Quantité totale
              <p-columnFilter type="numeric" field="QteTotale" display="menu"></p-columnFilter>
            </div>
          </th>
       
          <th style="width: 8rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-declaration>
        <tr>
          <td>
            {{declaration.DateRecolte | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            <span class="image-text"> {{declaration.Ref}}</span>
          </td>
          <td>
            <span class="image-text">{{declaration.designation}}</span>
          </td>
          <td class="text-right">
            {{declaration.RecolteMO}}
          </td>
          <td class="text-right">
            {{declaration.RecolteHorsMO}}
          </td>
          <td class="text-right">
            {{declaration.VentePieds}}
          </td> 
          <td class="text-right">
            {{declaration.QteTotale}}
          </td>
          <td class="text-center">
            <button pButton pRipple type="button" (click)="delete(declaration.IDENTIFIANT)" icon="pi pi-trash" pTooltip="Supprimer" tooltipPosition="bottom" class="p-button-rounded p-button-danger p-mr-2 mr-1"></button>
            <button pButton pRipple type="button" (click)="edit(declaration.IDENTIFIANT)" icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2"></button>      
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Aucune déclaration de récolte n'est trouvée</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  <div *ngIf="form">
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="form=!form" class="p-button-danger p-ml-auto" pTooltip="Fermer" tooltipPosition="bottom"></button>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4"> Informations générales</h4>
              <div class="row">
                <div class="col-md-12 mb-3" >
                  <label for="float-input">Date de récolte</label>
                  <p-calendar [(ngModel)]="declaration.date_recolte" class="date" [maxDate]="currentDate" [style]="{'width': '100%'}"></p-calendar>
                </div>
                <div class="col-md-12">
                  <label for="float-input">Observations</label>
                  <textarea rows="1" cols="30" [style]="{'width': '100%'}" pInputTextarea autoResize="autoResize" [(ngModel)]="declaration.observations"></textarea>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Quantités récoltés</h4>

            <div class="row" style="background-color:#F7F7F7; padding-top: 17px; border-radius:5px; margin-bottom: 10px;">
              <div class="col-md-2">Parcelle</div>
              <div class="col-md">Type de produit</div>
              <div class="col-md">Récolte MO (kg)</div>
              <div class="col-md">Récolte hors MO</div>
              <div class="col-md">Vente sur pieds</div>
              <div class="col-md">Quantité totale</div>
              <div class="col-md">Solde</div>
              <div class="col-md">Actions</div>
            </div>
            <div class="row" *ngFor="let parcelle of parcelles; first as first;last as last;">
              <div class="col-md-2">

                <p-dropdown [autoDisplayFirst]="false" [options]="listParcelles" (onChange)="onChange($event)" [style]="{'width':'100%','min-width':'100%'}" [(ngModel)]="parcelle.ID_Parcelle_Culturale" [showClear]="true" filter="true">
                  <ng-template let-item pTemplate="selectedItem">
                    <span >{{item.label}}</span>
                  </ng-template>
                  <ng-template let-parcelle pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div>{{parcelle.label}}</div>     
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="col-md">{{parcelle.type}}</div>
              <div class="col-md">
                <p-inputNumber [min]="0"  mode="decimal" [(ngModel)]="parcelle.RecolteMO" class="p-inputtext-sm" (onBlur)="calculTotal(parcelle)"></p-inputNumber>
              </div>
              <div class="col-md">
                <p-inputNumber [min]="0" mode="decimal" [(ngModel)]="parcelle.RecolteHorsMO" class="p-inputtext-sm" (onBlur)="calculTotal(parcelle)"></p-inputNumber>

              </div>
              <div class="col-md">
                <p-inputNumber [min]="0" mode="decimal" [(ngModel)]="parcelle.VentePieds" class="p-inputtext-sm" (onBlur)="calculTotal(parcelle)"></p-inputNumber>
              </div>
              <div class="col-md">
                <p-inputNumber [min]="0"  [(ngModel)]="parcelle.QteTotale" disabled class="p-inputtext-sm"></p-inputNumber>

              </div>
              <div class="col-md">                    
                <p-inputNumber [(ngModel)]="parcelle.Solde" mode="decimal" class="p-inputtext-sm"  [min]="0" ></p-inputNumber>
              </div>
              <div class="col-md">
                  <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning" (click)="removeItem(parcelle)"></button>
                  <button *ngIf="last" pButton pRipple type="button" icon="pi pi-plus"  (click)="addItem()" class="p-button-rounded p-button-info"></button>  
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="text-right">
      <button pButton pRipple type="button" (click)="save()" label="Enregistrer" class="p-button-raised p-button-primary"></button>
      <button pButton pRipple type="button" label="Annuler" class="p-button-raised p-button-secondary"></button>
    </div>
  </div>