<div *ngIf="!form" >
  <div class="page-header">
    <h3 class="page-title">
    
      Déclaration de la récolte
    </h3>
    <div class="text-right">
     
  
      <button pButton (click)="showForm()" pRipple type="button" icon="pi pi-plus" pTooltip="Ajouter" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2"></button>
      <button pButton pRipple type="button" icon="pi pi-align-justify" pTooltip="Vue synthétique" tooltipPosition="bottom" class="p-button-rounded p-button-help p-mr-2"></button>
      <button pButton pRipple type="button" icon="pi pi-chart-bar" pTooltip="Vue graphique" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>
      <button pButton pRipple type="button" (click)="exportExcel()" icon="pi pi-file-excel" pTooltip="Excel" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2"></button>
      <button pButton pRipple type="button" (click)="exportPdf()" icon="pi pi-file-pdf" pTooltip="PDF" tooltipPosition="bottom" class="p-button-rounded p-button-success p-mr-2"></button>
      <button pButton pRipple type="button" (click)="printPdf()" icon="pi pi-print" pTooltip="Imprimer" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>
  
    </div>
  </div>
  <div class="row">
    <p-table #dt1 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées"
      [globalFilterFields]="['name','country.name','representative.name','status']">
      
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher par mot" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Name
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Country
              <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Agent
              <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
                [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">Agent Picker</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                    (onChange)="filter($event.value)" optionLabel="name">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.name}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Date
              <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Balance
              <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Status
              <p-columnFilter field="status" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                    placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Activity
              <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false"
                [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="filter" let-filter="filterCallback">
                  <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                    styleClass="p-m-3"></p-slider>
                  <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                    <span>{{activityValues[0]}}</span>
                    <span>{{activityValues[1]}}</span>
                  </div>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              Verified
              <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            {{customer.name}}
          </td>
          <td>
            <span class="image-text">{{customer.country.name}}</span>
          </td>
          <td>
            <span class="image-text">{{customer.representative.name}}</span>
          </td>
          <td>
            {{customer.date | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            {{customer.balance | currency:'USD':'symbol'}}
          </td>
          <td>
            <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
          </td>
          <td>
            <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
          </td>
          <td class="p-text-center">
            <i class="pi" [ngClass]="{'true-icon pi-check-circle': customer.verified, 'false-icon pi-times-circle': !customer.verified}"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  <div *ngIf="form">
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="form=!form" class="p-button-danger p-ml-auto" pTooltip="Fermer" tooltipPosition="bottom"></button>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4"> Informations générales</h4>
             <!-- <div class="row">
                <div class="col-md-4">
                  <span class="p-float-label">
                    <p-calendar [(ngModel)]="date_recolte" [style]="{'width': '100%'}"></p-calendar>
                    <label for="float-input">Date de récolte</label>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="p-float-label">
                    <p-dropdown [options]="[]"  [style]="{'width': '100%'}" optionLabel="name"></p-dropdown>
                    <label for="float-input">Opérateur</label>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="p-float-label">
                    <textarea rows="1" cols="30" [style]="{'width': '100%'}" pInputTextarea autoResize="autoResize"></textarea>
                    <label for="float-input">Observations</label>
                  </span>
                </div>
              </div>-->
              <div class="row">
                <div class="col-md-12 mb-3" >
                  <label for="float-input">Date de récolte</label>
                  <p-calendar [(ngModel)]="date_recolte" [style]="{'width': '100%'}"></p-calendar>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="float-input">Opérateur</label>
                    <p-dropdown [options]="[]"  [style]="{'width': '100%'}" optionLabel="name"></p-dropdown>
                </div>
                <div class="col-md-12">
                  <label for="float-input">Observations</label>
                  <textarea rows="1" cols="30" [style]="{'width': '100%'}" pInputTextarea autoResize="autoResize"></textarea>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Quantités récoltés</h4>
            <table class="table table-responsive">
              <thead>
                <tr class="thead-light">
                  <th style="width: 12.5%;">Parcelle</th>
                  <th style="width: 12.5%;">Type de produit</th>
                  <th style="width: 12.5%;">Récolte MO (kg)</th>
                  <th style="width: 12.5%;">Récolte hors MO</th>
                  <th style="width: 12.5%;">Vente sur pieds</th>
                  <th style="width: 12.5%;">Quantité totale</th>
                  <th style="width: 12.5%;">Solde</th>
                  <th style="width: 12.5%;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parcelle of parcelles; first as first;last as last;">
                  <td>
                      <p-dropdown [options]="[]" name="parcelle" [(ngModel)]="parcelle.ref"  [style]="{'width': '100%'}" optionLabel="name"></p-dropdown>
                  </td>
                  <td>{{parcelle.typeProduit}}</td>
                  <td>     
                    <input name="recoltemo"  class="form-control"[(ngModel)]="parcelle.recolteMO"  style="width:100%" type="number">
                  </td>
                  <td>   
                    <input name="recoltehorsmo" class="form-control"  [(ngModel)]="parcelle.recolteHorsMO"  style="width:100%" type="number">
                  </td>
                  <td>         
                    <input name="pieds" class="form-control" [(ngModel)]="parcelle.pied" style="width:100%" type="number">
                  </td>
                  <td>             
                  </td>
                  <td>
                    <input name="solde" class="form-control" [(ngModel)]="parcelle.solde" style="width:100%" type="number">
                  </td>
                  <td>
                    <div>
                      <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning" (click)="removeItem(parcelle)"></button>
                      <button *ngIf="last" pButton pRipple type="button" icon="pi pi-plus"  (click)="addItem()" class="p-button-rounded p-button-info"></button>  
                    </div>
                    
                  </td>
              </tr>
              </tbody>
            </table>
          </div> 
       
        </div>
        
      </div>
    </div>
    <div class="text-right">
      <button pButton pRipple type="button" label="Enregistrer" class="p-button-raised p-button-primary"></button>
      <button pButton pRipple type="button" label="Annuler" class="p-button-raised p-button-secondary"></button>
    </div>
  </div>