.p-calendar .p-datepicker {
    min-width: 10% !important; 
}
.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem !important;
    padding: 0.4375rem 0.4375rem !important;
    width: 50% !important;
}
.col-md {
    margin-bottom: 15px!important;
    padding-right: 5px;
    padding-left: 5px;
    width:12.5%;
}
.p-datatable .p-datatable-header{
@mixin rtl{
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0 1px 0;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
    padding-left: 82%;
  }
}