<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': true }">
      <a class="nav-link">
        <span class="menu-title vsm-header">    {{ 'rendement.moduleName' | translate }}
        </span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : estimationparcelle.isActive || suivigrossissement.isActive || profilcalibre.isActive || evolutioncalibre.isActive  }">
      <a class="nav-link" (click)="estimationCollapsed = !estimationCollapsed" [attr.aria-expanded]="estimationCollapsed" aria-controls="ui-basic">
        <span class="menu-title">{{ 'rendement.estimations' | translate }}</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi mdi-calculator menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!estimationCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/estimationparcelle" routerLinkActive="active" #estimationparcelle="routerLinkActive">{{ 'rendement.estimationParcelle' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/suivigrossissement" routerLinkActive="active" #suivigrossissement="routerLinkActive">{{ 'rendement.suiviGrossissement' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/profilcalibre" routerLinkActive="active" #profilcalibre="routerLinkActive">{{ 'rendement.profilCalibre' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/evolutioncalibre" routerLinkActive="active" #evolutioncalibre="routerLinkActive">{{ 'rendement.evolutionCalibre' | translate }}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : declarationrecolte.isActive || entrestockproduit.isActive || expedition.isActive || bonreception.isActive 
    || bonfabrication.isActive || chiffreaffaires.isActive || validationrecolte.isActive }">
      <a class="nav-link" (click)="recolteCollapsed = !recolteCollapsed" [attr.aria-expanded]="recolteCollapsed" aria-controls="ui-basic">
        <span class="menu-title">{{ 'rendement.recolte' | translate }}</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi mdi-food-apple menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!recolteCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/declaration-recolte" routerLinkActive="active" #declarationrecolte="routerLinkActive">{{ 'rendement.declarationRecolte' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/entrestockproduit" routerLinkActive="active" #entrestockproduit="routerLinkActive">{{ 'rendement.entreeStockProduit' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/expedition" routerLinkActive="active" #expedition="routerLinkActive">{{ 'rendement.expedition' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/bonreception" routerLinkActive="active" #bonreception="routerLinkActive">{{ 'rendement.bonReception' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/bonfabrication" routerLinkActive="active" #bonfabrication="routerLinkActive">{{ 'rendement.bonFabrication' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/chiffreaffaires" routerLinkActive="active" #chiffreaffaires="routerLinkActive">{{ 'rendement.chiffreAffaires' | translate }}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rendement/validationrecolte" routerLinkActive="active" #validationrecolte="routerLinkActive">{{ 'rendement.validationRecolte' | translate }}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active' : analysequalitative.isActive || agreagefruits.isActive }">
      <a class="nav-link" (click)="suiviQualitativeCollapsed = !suiviQualitativeCollapsed"  [attr.aria-expanded]="suiviQualitativeCollapsed" aria-controls="auth">
        <span class="menu-title">{{ 'rendement.suiviQualitatif' | translate }}</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi mdi-monitor-multiple menu-icon"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!suiviQualitativeCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/analyse-qualitative" routerLinkActive="active" #analysequalitative="routerLinkActive">{{ 'rendement.analyseQualitative' | translate }} </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="rendement/agreage-fruits" routerLinkActive="active" #agreagefruits="routerLinkActive"> {{ 'rendement.agreageFruits' | translate }} </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
