<div *ngIf="!form" >
<div class="page-header">
  <h3 class="page-title">
  
    Déclaration de la récolte
  </h3>
  <div class="text-right">
    <button pButton (click)="showForm()" pRipple type="button" icon="pi pi-plus" pTooltip="Ajouter" tooltipPosition="bottom" class="p-button-rounded p-button-info"></button>
    <button pButton pRipple type="button" icon="pi pi-align-justify" pTooltip="Vue synthétique" tooltipPosition="bottom" class="p-button-rounded p-button-help"></button>
    <button pButton pRipple type="button" icon="pi pi-file-excel" pTooltip="Télécharger Excel" tooltipPosition="bottom" class="p-button-rounded p-button-secondary"></button>
    <button pButton pRipple type="button" icon="pi pi-file-pdf" pTooltip="Télécharger PDF" tooltipPosition="bottom" class="p-button-rounded p-button-success"></button>
    <button pButton pRipple type="button" icon="pi pi-chart-bar" pTooltip="Vue graphique" tooltipPosition="bottom" class="p-button-rounded p-button-warning"></button>
    <button pButton pRipple type="button" icon="pi pi-file-o" pTooltip="Copier" tooltipPosition="bottom" class="p-button-rounded p-button-primary"></button>
  </div>
</div>
<div class="row">
  <p-table #dt1 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
              </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Name
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Country
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Agent
            <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Agent Picker</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                  (onChange)="filter($event.value)" optionLabel="name">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Date
            <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Balance
            <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Status
            <p-columnFilter field="status" matchMode="equals" display="menu">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                  placeholder="Any">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Activity
            <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                  styleClass="p-m-3"></p-slider>
                <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                  <span>{{activityValues[0]}}</span>
                  <span>{{activityValues[1]}}</span>
                </div>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width: 8rem">
          <div class="p-d-flex p-jc-between p-ai-center">
            Verified
            <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          {{customer.name}}
        </td>
        <td>
          <span class="image-text">{{customer.country.name}}</span>
        </td>
        <td>
          <span class="image-text">{{customer.representative.name}}</span>
        </td>
        <td>
          {{customer.date | date: 'MM/dd/yyyy'}}
        </td>
        <td>
          {{customer.balance | currency:'USD':'symbol'}}
        </td>
        <td>
          <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
        </td>
        <td>
          <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
        </td>
        <td class="p-text-center">
          <i class="pi" [ngClass]="{'true-icon pi-check-circle': customer.verified, 'false-icon pi-times-circle': !customer.verified}"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
<div *ngIf="form">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4"> Informations générales</h4>
            <div class="row">
              <div class="col-md-4">
                <span class="p-float-label">
                  <p-calendar [(ngModel)]="date_recolte" [style]="{'width': '100%'}"></p-calendar>
                  <label for="float-input">Date de récolte</label>
                </span>
              </div>
              <div class="col-md-4">
                <span class="p-float-label">
                  <p-dropdown [options]="[]"  [style]="{'width': '100%'}" optionLabel="name"></p-dropdown>
                  <label for="float-input">Opérateur</label>
                </span>
              </div>
              <div class="col-md-4">
                <span class="p-float-label">
                  <textarea rows="1" cols="30" [style]="{'width': '100%'}" pInputTextarea autoResize="autoResize"></textarea>
                  <label for="float-input">Observations</label>
                </span>
              </div>
            </div>
           
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Quantités récoltés</h4>
          <p-table [value]="parcelles">
            <ng-template pTemplate="header">
                <tr>
                    <th>Parcelle</th>
                    <th>Type de produit</th>
                    <th>Récolte MO (kg)</th>
                    <th>Récolte hors MO (kg)</th>
                    <th>Vente sur pieds (kg)</th>
                    <th>Quantité totale</th>
                    <th>Solde</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parcelle>
                <tr>
                    <td>
                      <span class="p-float-label">
                        <p-dropdown [options]="[]" name="parcelle" [(ngModel)]="parcelle.ref"  [style]="{'width': '100%'}" optionLabel="name"></p-dropdown>
                        <label for="float-input">Parcelle</label>
                      </span>
                    </td>
                    <td>{{parcelle.typeProduit}}</td>
                    <td>                  
                        <p-inputNumber name="recoltemo" [style]="{'width': '50%'}" [(ngModel)]="parcelle.recolteMO" mode="decimal"></p-inputNumber>                     
                    </td>
                    <td>                   
                        <p-inputNumber name="recoltehorsmo" [style]="{'width': '50%'}" [(ngModel)]="parcelle.recolteHorsMO" mode="decimal"></p-inputNumber>                     
                    </td>
                    <td>                     
                        <p-inputNumber [(ngModel)]="parcelle.pied" mode="decimal"></p-inputNumber>                    
                    </td>
                    <td>             
                    </td>
                    <td>
                        <p-inputNumber [(ngModel)]="parcelle.solde" mode="decimal"></p-inputNumber>
                    </td>
                    <td>
                      <div class="ml-5">
                        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning" (click)="addItem()"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-info" (click)="addItem()"></button>  
                      </div>
                      
                    </td>
                </tr>
              </ng-template>
          </p-table>
        </div> 
     
      </div>
      
    </div>
  </div>
  <div class="text-right">
    <button pButton pRipple type="button" label="Enregistrer" class="p-button-raised p-button-primary"></button>
    <button pButton pRipple type="button" label="Annuler" class="p-button-raised p-button-secondary"></button>
  </div>
</div>